<div class="section-scroller-chop relative">
  <i class="pin-rc icon i-48 zindex-1000">
    <svg><use xlink:href="/images/icons.svg#back-arrow"></use></svg>
  </i>
  <div class="section-scroller">
    <div class="scroller-wrap">
      <div class="scroller-item">
        {% pattern cards/theme-card image="1by1-placeholder-01.png" heading=include.theme_title %}
      </div>
      {% for card in site.products %}
        {% if card.theme==include.theme %}
          <div class="scroller-item">
            {% pattern cards/add-card image=card.image href=card.url %}
          </div>
        {% endif %}
      {% endfor %}
    </div>
  </div>
</div>
