.card {
  position: relative;
}

.card-img {
  display: block;
  width: 100%;
  height: auto;
}

.icon-numbers {
  color: var(--color-primary);
}

.card-list {
  font-family: var(--font-secondary);
}

.product-name {
  font-weight: 800;
}
