.card {
  position: relative;
  width: 100%;
  /* height: 400px; */
}

.icon-numbers {
  color: var(--color-primary);
}

.theme-text {
  color: #fff;
  letter-spacing: 0.1em;
  font-family: var(--font-primary);
}
