<!DOCTYPE html>
<html lang="en-ca">
<head>
  <meta charset="utf-8">
  <title>{% if page.title %}{{page.title}} · {% endif %}Easy Gift Registry{% if page.titleAfter %} · {{page.titleAfter}}{% endif %}</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <link href="{{site.baseurl}}/css/main.css" rel="stylesheet">
  <link href=<"https://fonts.googleapis.com/css?family=Playfair+Display:400,400i,500,500i,600,600i,700,700i,800,800i,900,900i|Raleway:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&display=swap" rel="stylesheet">
  <link href="/images/favicon.ico" rel="shortcut icon">
  <meta name="description" content="{{page.meta}}">
  <meta name="geo.region" content="ca-on">
  <meta name="geo.placename" content="Ottawa">
  <meta property="og:type" content="website">
  <meta property="og:title" content="Easy Gift Registry · Gifting Made Easy">
  <meta property="og:image" content="">
  <meta property="og:site_name" content="Easy Gift Registry">
  <meta property="og:description" content="A web application that makes gift giving and recieving easy.">
  <meta property="og:locale" content="en_CA">
</head>
<body>

  {% pattern navigation/main-nav %}
  {{content}}
  {% pattern navigation/footer %}

</body>
</html>
