.navigation {
  background-color: #ce86a0;
  vertical-align: middle;
  color: #fff;
}

.nav {
  font-family: var(--font-secondary);
  font-weight: 500;
}

.navigation a {
  color: #fff;
  font-weight: 500;
}

.navigation a:hover {
  color: var(--color-secondary);
  font-weight: 900;
}

.site-name {
  font-weight: 100;
}

.search {
  font-family: var(--font-secondary);
  font-weight: 500;
  border: 0px;
}

.icon-search svg {
  opacity: 30%;
}

.footer-header {
  font-family: var(--font-primary);
  font-weight: 500;
}

.footer-nav {
  font-family: var(--font-secondary);
  list-style-type: none;
  content: none;
}

ul > li::before {
  content: none;
}

.copyright {
  font-weight: 300;
}
