.go-back {
  top: 1em;
  left: 1em;
}

.theme-title {
  color: #fff;
}

.icon-label {
  color: #fff;
}

.icon-label:hover {
  color: #C26B86;
}

@media only-screen and (min-width: 38em)
{
  .banner-img {
    position: relative;
    float: none;
  }

  .banner-content {
    position: absolute;
    top: 50%;
    left: 50%;
    float: none;
  }
}
