.go-back {
  top: 1em;
  left: 1em;
}

.banner-content {
  color: #fff;
  background: rgba(242, 114, 125, 0.7);
  width: 60%;
}

.theme-title {
  color: #fff;
}

.icon-label {
  color: var(--color-primary);
}

.icon-label:hover {
  color: #C26B86;
}

.banner-content {
  margin-bottom: -16px;
}

.banner-heading {
  letter-spacing: 0.02em;
}

.slogan-style {
  font-weight: var(--weight-bold);
  color: #fff;
}

.back-arrow {
  color: #fff;
  font-weight: var(--weight-bold);
}

.back-arrow:hover {
  color: var(--color-secondary);
  ont-weight: var(--weight-bold);
}
