.go-back {
  top: 1em;
  left: 1em;
}

.banner-content {
  color: #000;
  background: rgba(255, 255, 255, 0.7);
  width: 60%;
}

.theme-title {
  color: #fff;
}

.icon-label {
  color: var (--color-primary);
}

.icon-label:hover {
  color: #C26B86;
}

.banner-content {
  margin-bottom: -16px;
}
